<div class="flex flex-col gap-4">
    <p class="p-2">{{short_text}}</p>
    <div
      *ngFor="let link of link_list"
      class="flex sm:flex-col sm:gap-4 bg-white bg-cover py-4 px-6 rounded-lg"
    >
      <div class="lg:flex lg:justify-between items-center">
        <p class="text-full-link">
          {{link.original_link}}
        </p>
        <p class="text-short-link">
          {{link.full_share_link}}
        </p>
        <button
          class="
      rounded-md
      w-full md:w-[177px]
      h-[62px]
      px-[36px]
      py-[16px]
      bg-[#2DD4BF]
      text-white
      hover:bg-[#0D9488]
      active:bg-[#0F766E]
      transition-colors
      transition-duration-300
    "
          (click)="copyLink(link.id)"
          [ngClass]="{'bg-[#0D9488]' : link.copy}"
        >
          {{link.copy ? 'Copied' : 'Copy' }}
        </button>
      </div>
    </div>
  </div>
